<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>评测</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-1 col-sm-1 col-xs-1 column"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 column">
            <% if (msg) { %>
                <strong><%= msg %></strong>
            <% } %>
            <% if (kpi) { %>
                <h1 class="text-center">
                    评教
                </h1>
                <p class="text-info text-center">
                    <strong>编译原理</strong>
                </p>
                <form role="form">
                    <% kpi.forEach(function(kp){ %>
                        <div class="form-group">
                            <label for="d1"><strong><%= kp.thirdKpiContent %></strong></label>
                            <select class="form-control" id="d1">
                                <option>请选择</option>
                                <option>很好</option>
                                <option>较好</option>
                                <option>一般</option>
                                <option>较差</option>
                            </select>
                        </div>
                    <% }); %>
                </form>
                <button type="button" class="btn btn-primary btn-block btn-default">提交</button>
        </div>
        <% } %>
    </div>
    <div class="col-md-offset-1 col-sm-1 col-xs-1 column"></div>
</div>
<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>